
.navbar-inverse {
	border: none;
}

.plone-toolbar-container {
	padding: 80px 0px 0px 0px;
}

#content {
	padding: 80px 0px 0px 0px;
	span.label {
		color: black;
	}
}

@media all {
	.plone-toolbar-left-expanded .container,
	.plone-toolbar-left .container {
		width: 100%
	}
}

