
.plone-toolbar-container {
	padding: 80px 0px 0px 0px;
}

/*
#content {
	padding: 80px 0px 0px 0px;
	span.label {
		color: black;
	}
}
*
*/

@media all {
	body.bebest-main {
		width: 100%;
	}
	.container-fluid {
		padding: 0px 0px 0px 0px;
	}
}

#content {
	padding: 80px 0px 0px 14px;
	span.label {
		color: black;
	}
}

.template-summary_view #content,
.template-resourceregistry-controlpanel #content {
	padding-left: 20px;
}

.bebest-collapse {
	display: none;
}
