
.plone-toolbar-container {
	padding: 80px 0px 0px 0px;
}

/*
#content {
	padding: 80px 0px 0px 0px;
	span.label {
		color: black;
	}
}
*
*/

@media all {
	body.bebest-main {
		width: 100% !important;
	}
	.container-fluid {
		padding: 0px 0px 0px 0px;
	}

}
