
.section-map {
	height: 600px;
	.full-width;
	background-color: @bg-dark;
	.feature-type {
			.super-small;
			.main-color;
			.text-center;	
		}
	#bebest-map {
		height: 520px;
		background-color: @bg-dark;
	}
	.map-feature-panel {
		height: 520px;
		.feature-info {
			background-color: @bg-bright;
			padding: 15px;
			border: 2px solid @color-main;
			border-radius: 5px;
			text-align: left;
			height: 505px;
		}
	}
	.leaflet-popup-content-wrapper {
		width: 300px;
		min-height: 250px;
		max-height: 500px;
		padding: 15px;
		border: 2px solid #47AAC9;
		border-radius: 5px;
		box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
		text-align: left;
		h3{
			color: #47AAC9;
		}
	}
	.leaflet-popup-tip {
		opacity:0;
	}
	.leaflet-popup {
		transform: none;
		position: absolute;
		top: 0px;
	} 
}