/* CAROUSEL */
@text-bright: #FFF;
@font-contrast: 'Courgette';

#home-carousel-bebest { // Marge du navbar
	margin-top: 0px;
	background-color: #ddd;
	display: flex;
	overflow: hidden;
	height: 70vh;
	max-height: 750px;
	.slide {
		position: absolute;
	}


#bebest-slider-content { // Texte d'accroche 
 	left: 0px;
    top: 50%;
	transform: translateY(-50%);  
	position: absolute;
	.bright {
		Font-family: @font-contrast;
		Font-size: 3.5em;
		Font-weight: 300;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.imgwhite { // Logo Bebest blanc
	margin-right: auto;
	margin-left: auto;	
	max-width: 100%;
}

.bgimage {	//Image du Carousel
	position: relative;	
	overflow: hidden;
}


.homeimg-container { // Conteneur du Carousel
	background-position: center-top;
	max-height: 70vh;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
		.img-src {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: fixed;
			width: 100%;
	}
}

.scrollbot { // Donnees fleche bas
	font-size: 1em;
	color: #fff;
	line-height: 40%;
	position: relative;
}

.glyphiconbutton { //Glyphicon Double fleche bas
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
}
}