 
 /* HEADER */

@global-bg: #FFFFFF;

.header-top {
	padding: 20px 0px 0px 0px;
	background-color: @global-bg;
}

.navbar-inverse {
	border: none;
}

/* LOGO */

.navbar-brand{
	width: 250px;
	height: auto;
	margin-top: -30px;
}

/* Navbar */

.navbar-nav.navbar-bebest {
	font-size: 1.1em;
	>li {
		>a {
			font-family: @font-titre;
			font-weight: 600;
			color: @color_1;
			&:hover {
					color: @color_2;
					}	
			}
		}
	>.active {
		>a {
			color: @color_1;
			background-color: #eee;
			&:hover {
					color: @color_1;
					background-color: #eee;
				}
			}
		}
}

/* TOGGLE */

.navbar-toggle{
	background:	#e95858;

		&:hover{
			background:	#222;
			}
}

.icon-bar{
	background: #FFF !important;	
}

.nav-bar-frame {
	background-image: none;
	background-color: white;
	color: black;
}
.nav-bar-frame-borders {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: grey;
}
/*
ul.navbar-nav {
	background-color: white;
	&>li:hover {
		.nav-bar-frame;
		.nav-bar-frame-borders;
	}
	li {
		.nav-bar-frame;
		.dropdown {
			a {
			background-color: white;
			color: black;
			}
		}
	   .active {
			a {
				.nav-bar-frame;
				.nav-bar-frame-borders;
			}
		}
		&:hover {
			.nav-bar-frame;
		}
	}
	.dropdown-menu {
		right: 28px;
		left: auto;
	}
}
*/
ul.dropdown-menu {
	li a {
		.nav-bar-frame;
		&:hover {
			color: #71b398;
		}
	}
}

