/* CAROUSEL */

#section-news-carousel {
	margin-top: 15px;
	margin-bottom: 50px;
	#news-Carousel {
		background-color: #ddd;
		overflow: hidden;
		height: 200px;
		.slide {
			position: absolute;
		}
		.carousel-inner > .item {
			float: left;
		}
	}

	.news-wrapper { /* Conteneur de chaque news ----------------------*/
		background-color: @bg-bright;
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
			padding-right: 15px;
	}
	.news-img {
		height: 200px;
		width: 200px;
		left: 0;
		margin-right: 15px;
		float: left;
	}
    .news-info { /* Conteneur du texte ----------------------*/
			height: auto;
		}
	/* Fleches de controle --------------------------*/
		.carousel-control { /* Emplacement des fleches de controle*/
			background-color: @bg-bright;
			background-image: none;
			opacity: 1;
			width: 15%;
			.right {
				left: auto;
				right: 0;
			}
			span.glyphicon { /* Fleches de controle --------------------------*/
				text-shadow: none;
				color: @color-main;
				&:hover {
					color: @color-contrast;	
				}
			}		
		}

}
