/* PORTRAIT */

#section-portrait {
	margin-top: 80px;  // Marge du navbar
	#personnel-info {
		height: 600px;
		background-color: @bg-dark;
	}
	#personnel-bio {
		height: 600px;
		background-color: @bg-bright;
	}
}