/* Portfolio */
@bg-dark: #000;
@bg-bright: #fff;

.bg-dark {
	background-color: @bg-dark;
}

.bg-bright {
	background-color: @bg-bright;
}

#section-portfolio {
	margin-top: 80px;  // Marge du navbar
}

#bebest-portfolio-title {
	margin-top: 250px;
	margin-bottom: -10px;
	text-transform: uppercase;
	color: @text-bright;
}