/* LAYOUT */

/* BACKGROUNDS-------------------------------------------*/
@bg-dark: #000;
@bg-bright: #fff;

.bg-dark {
	background-color: @bg-dark;
}

.bg-bright {
	background-color: @bg-bright;
}

/* IMAGES ---------------------------------------------------------*/

.img-portrait {
	width: 200px;
	Height: 200px;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: -50px;
}

/* LAYOUT ---------------------------------*/

#content {
	margin-top: 80px;
}

.w-limit {
	max-width: 1200px;
	margin: auto;
}

.h-limit {
	max-height: 400px;
	overflow: hidden;
}

.full-width {
	width:100%;
	padding: 0;
}