/* pataprout */

 @import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
 @import url(https://fonts.googleapis.com/css?family=Exo:600,700);
 @import url(https://fonts.googleapis.com/css?family=Courgette);

 /*TYPOGRAPHIE*/
 
 @text-bright: #FFF;
 @text-dark: #000;
 @color_1: #252747;
 @color_2: #DE963E;
 @font-content: 'Lora';
 @font-titre: 'Exo';
 @font-contrast: 'Courgette';

 /* Modifications de texte */
 
 .bright {
	color: @text-bright;
	}
.dark {
	color: @text-dark;
	}
.small {
	font-size: 80%;
	}
.large {
	font-size: 140%;
	}
.xlarge {
	font-size: 200%;
	}
 
/* Headings */

.super {
	Font-family: @font-contrast;
	Font-size: 3.5em;
	Font-weight: 300;
	padding-left: 50px;
	padding-right: 50px;
	width: 100%;	
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @font-titre;
  font-weight: 700;
}

h1,.h1 {
	font-size: 3em;
}
h2, h2 {
	font-size: 2em;
}
h3, .h3 {
	font-size: 1.5em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

/* Content font */

p, .p {
	font-family:@font-content;
	font-size: 1em;
	}