/* Portfolio */

#bebest-portfolio-body{
	background-color: #474747;
}

#bebest-portfolio-title{
	margin-top: 250px;
	margin-bottom: -10px;
	text-transform: uppercase;
	color: @text-bright;
}

.bebest-portfolio-hr{
	size: 2px;
}