/* CAROUSEL */

#section-carousel {
	margin-top: 80px;  // Marge du navbar
	background-color: #ddd;
	display: flex;
	overflow: hidden;
	height: 70vh;
	max-height: 750px;
	.slide {
		position: absolute;
	}
}

#bebest-logo-white { // Logo Bebest blanc
	width: 500px;
}

#homeCarousel {
	width: 100%;
}

.carousel-home-inner {
	height: 70vh;
	max-height: 750px;
}

.carousel-title {
	z-index: 1000;
	margin: auto;
}

