#bebest-map {
   height: 600px;
}

#feature_infos {
    width:25%;
    height: 25%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top:0px;
    right:0px;
    padding:5px;
    border:1px solid grey;
    display:none;
}
#info {
    font-weight:bold;
    color:red;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}

#bebest-info{
	margin-top: 50px;
	width: 300px;
	height: 350px;
	border: 2px solid #47AAC9;
	border-radius: 15px;
	box-shadow: 5px 5px 0px #aaa;
	h3{
		font-family: @font-titre;
	}
	p{
		font-family: @font-content;
	}
	
}