/* CAROUSEL */

#home-carousel-bebest { // Marge du navbar
	margin-top:120px;
}

.bgimage {	//Image du Carousel
	position:relative ;	
	overflow:hidden;
}


#bebest-slider-content { // Texte d'accroche 
	top:0;
	left:0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.imgwhite { // Logo Bebest blanc
	margin-right: auto;
	margin-left: auto;	
	max-width: 100%;
}

.homeimg-container { // Conteneur du Carousel
	background-position: center-top;
	max-height: 750px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
		.img-src {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: fixed;
			width: 100%;
	}
}

.scrollbot { // Données fleche bas
	font-size: 1em;
	color: #fff;
	line-height: 40%;
	position: relative;
}

.glyphiconbutton { //Glyphicon Double fleche bas
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    position: relative;
    top: 1px;
}
