/* PORTRAIT */

	.personnel-info-panel {
		padding: 0px;
		.personnel-img-wrapper {
			max-height: 400px;
			overflow: hidden;
		}
		.personnel-name{
			.super-small;
			.bright;
		}
		.img-author {
			.grey;
			.small;
			.text-right;
			padding: 10px 15px 10px 0;
		} 
		.personnel-info {
			background-color: @bg-dark;
			color: @text-bright;
			padding-left: 35px;
			padding-right: 35px;
		}
	}
	.personnel-bio {
		height: 600px;
		background-color: @bg-bright;
	}
